body {
    margin: 0;
}

.button-top {
    color: black;
    background-color: #e0b973;
    border-style: none;
    width: 100px;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    color: white;
    background-image: url(/images/contact-us.png);
    background-size: cover;
    background-position: center;
}

header .right {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.d-flex {
    display: flex;
    align-items: center;
}

.w-50 {
    width: 50%;
}

.c-us {
    text-align: center;
    font-size: 70px;
    margin: 50px;
    padding: 50px;
    padding-bottom: 100px;
}

.color {
    color: #14274a;
}

h3 img {
    width: 25px;
    position: relative;
    left: 10px;
}

.sub {
    position: absolute;
    margin-left: 100px;
    margin-top: 10px;
    border: none;
    background-color: #e0b973;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.marg {
    margin-bottom: 100px;
}

.namemail {
    border: solid 1px gray;
    padding: 10px;
}

.massage {
    border: solid 1px gray;
    padding: 10px;
    padding-bottom: 50%;
}

footer {
    padding-top: 32px;
    background-image: url(/images/footer.png);
    background-size: cover;
    background-position-x: center;
    display: flex;
}

footer d-flex {
    display: flex;
}

.footer {
    color: white;
}

.w-25 {
    width: 25%;
}

footer li {
    list-style: none;
    margin: 20px 0;
}

footer span {
    font-size: 15px;
    position: relative;
    left: 20%;
    bottom: 15px;
}

footer button {
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 16px;
    padding: 13px 10px;
    background-color: #e0b973;
}

footer input {
    padding: 6px;
    height: 30px;
    background-color: transparent;
    border: solid 1px #e0b973;
    position: relative;
    left: 5px;
    bottom: 1px;
}